* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 0px;
    margin: 0px;
    font-family: 'Handlee', cursive;
    font-size: 16px;
    color: rgb(255, 25, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
    margin-top: 12px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

body {
    margin: 0px;
}

nav,
main,
footer {
    width: 900px;
    margin: 0 auto;
    padding: 0px;
}

p {
    margin: 0px;
}

img {
    max-width: 100%;
}

header {
    background-color: cornsilk;
    text-align: center;
    background-image: url('../images/loc.jpg');
    padding-top: 206px;
    padding-bottom: 30px;
    color: white;
}

#blog-title {
    font-size: 18px;
    font-style: italic;
    
}

section {
    border-bottom: 1px solid thistle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-fluid {
    width: 100%;
}

nav {
    height: 45px;
    padding: 0px;
    margin-bottom: 20px;
}

nav ul {
    overflow: hidden;
}

ul>li {
    list-style: none;
    float: left;
    margin: 0px 10px;
    padding: 20px 10px;
}

ul>li a {
    text-decoration: none;
}

nav ul>li:hover,
nav ol>li:hover {
    text-decoration: underline;
}

ol>li {
    text-align: left;
    list-style: none;
    margin: 2px 10px;
}

nav li ol {
    display: none;
    min-width: 350px;
    position: absolute;
}

nav li:hover>ol {
    display: block;
}

nav {
    overflow: hidden;
    text-align: center;
}

a {
    text-decoration: underline;
    color: inherit;
}

footer {
    padding: 20px 10px;
    text-align: center;
}

table {
    width: 700px;
}

input,
button,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid salmon;
    color: salmon;
    font-size: 1rem;
    font-family: 'Handlee', cursive;
    border-radius: 4px;
    outline-color: salmon;
    outline-width: 4px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='date'],
textarea,
select {
    width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 10px;
    border: 1px solid salmon;
}

input:checked {
    background-color: red;
}

table tr td {
    padding: 10px 10px 4px 10px
}

input::placeholder,
textarea::placeholder {
    color: wheat;
}

button {
    background-color: white;
    color: salmon;
    padding: 10px;
}

button:hover {
    background-color: salmon;
    color: white;
    padding: 24px;
}